@import "root.css";
@import "sash.css";
@import "loader.css";


#content input {
    width: 80%;
    max-width: 400px;
    box-sizing: border-box;

    font-size: 18px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid grey;
    text-align: center;
    text-overflow: ellipsis;
    color: rgb(88, 88, 88);
    font-family: "Noto Sans", sans-serif;

    will-change: border;
    transition: border .5s cubic-bezier(0, 1, .75, 1);
}
#content input.error {
    border: 1px solid red;
}
#content button {
    min-width: 96px;
    min-height: 32px;
    margin-top: 16px;
}

#content .content-spacer {
    height: 24px;
}
