<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="styles/registration.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=PT+Sans:wght@700&display=swap">
    <script type="module" src="scripts/registration.mjs" defer></script>

    <title>API Registration—DSIRE</title>
</head>


<body>

    <div id="sash"></div>

    <div id="meta">
        <span id="DSIRE">DSIRE</span>
        <span id="subtitle">Public Database API Access Request</span>
    </div>

    <div id="content">
        <input id="form-name" type="text" placeholder="*Contact name">
        <input id="form-email" type="email" placeholder="*Contact email">
        <input id="form-org" type="text" placeholder="*Contact's organization">
        <button
            id="submit"
            data-action="submit"
            data-callback="submit"
        >
            Submit
        </button>
    </div>

    <div id="status">
        <span id="status-header"></span>
        <span id="status-message"></span>
        <div id="loader" class="loader"></div>
    </div>

    <span id="ref-hash">{% REF_NAME %} {% COMMIT_HASH_SHORT %}</span>

    <div id="API_URL" style="display: none">{% API_URL %}</div>

</body>
