.logo {
    text-align: center;
    margin-top: 5%;
}

.check {
    height: 25%;
    width: 25%;
}

.message-bubble {
    margin-top: 2%;
    margin-bottom: 30%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding: 2em 5em;
    border-radius: 2em 2em 2em 2em;
    background-color: rgb(178, 236, 207);
}

.body {
    font-size: large
}

.heading {
    text-align:center;
}

body {
    font-family:'Open Sans', sans-serif;
}